#root {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 32px;

  @media (width < 786px) {
    padding: 20px;
  }
}

header {
  font-size: 24px;
  font-weight: 700
}

fieldset {
  border-color: white;
}

code {
  font-size: 1rem;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.125);
  display: inline-block;
}